* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.board {
  background-color: brown;
  display: grid;
  height: 400px;
  width: 400px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  display: flex;
  border: 2px solid black;
  align-content: center;
  justify-content: center;
}
