* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(240, 95, 95);
}

.board {
  color: rgba(81, 42, 165, 0.481);
  display: grid;
  height: 400px;
  width: 400px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.cell {
  display: flex;
  border: 2px solid black;
  align-content: center;
  justify-content: center;
  color: rgba(81, 42, 165, 0.481);
}
#name-form {
  display: flex;
  font-size: 14rem;
}
